.row{
    display: flex;
    flex-wrap: wrap;
}

.container{
    margin-top: 200px;
}

p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}
a{
    text-decoration: none;
}
