{% extends 'testapp/base.html' %}
{% load static %}
{% block content %}
    {% include 'testapp/nav.html' %}
    <div class="container container-sm center-align" style="margin-top:50px;">
        <div class="carousel col s12">
            <a class="carousel-item"><img src="{% static 'certificate/C.pdf' %}" style="width: 500px; height: 300px;">
                <h3 class="red darken-1 center-align black-text">C</h3>
            </a>
            <a class="carousel-item"><img src="{% static 'certificate/C++.pdf' %}" style="width: 500px; height: 300px;">
                <h3 class="red darken-1 center-align black-text">C++</h3>
            </a>
            <a class="carousel-item"><img src="{% static 'certificate/DSA1.jpg' %}" style="width: 500px; height: 300px;">
                <h3 class="red darken-1 center-align black-text">DSA</h3>
            </a>
            <a class="carousel-item"><img src="{% static 'certificate/web.jpg' %}" style="width: 500px; height: 300px;">
                <h3 class="red darken-1 center-align black-text">Full Stack</h3>
            </a>
        </div>        
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems);
          });
    </script>
{% endblock %}

