{% extends 'testapp/base.html' %}
{% load static %}
{% block content%}
    {% include 'testapp/nav.html' %}
     <div class="container container-sm" style="margin-top:50px;">
      <div class="col s12">
        <ul class="collection">
            <li class="collection-item avatar">
              <img src="{% static 'images/C.png'%}" alt="" class="circle">
              <p style="margin : 10px" class="text-danger lead">C</p>
              <a href="#" class="secondary-content">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>            
              </a>
            </li>

            <li class="collection-item avatar">
              <img src="{% static 'images/java.png'%}" alt="" class="circle">
              <p style="margin : 10px" class="text-danger lead">Java</p>
              <a href="#" class="secondary-content">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>            
              </a>
            </li>

            <li class="collection-item avatar">
              <img src="{% static 'images/python.jpeg'%}" alt="" class="circle">
              <p style="margin : 10px" class="text-danger lead">python</p>
              <a href="#" class="secondary-content">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>            
              </a>
             </li>


            <li class="collection-item avatar">
              <img src="{% static 'images/Django.png'%}" alt="" class="circle">
              <p style="margin : 10px" class="text-danger lead">Django</p>
              <a href="#" class="secondary-content">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>            
              </a>
             </li>

            <li class="collection-item avatar">
              <img src="{% static 'images/Reactjs.png'%}" alt="" class="circle">
              <p style="margin : 10px" class="text-danger lead">ReactJs</p>
              <a href="#" class="secondary-content">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>            
              </a>
            </li>

            <li class="collection-item avatar">
              <img src="{% static 'images/Nodejs.png'%}" alt="" class="circle">
              <p style="margin : 10px" class="text-danger lead">NodeJs</p>
              <a href="#" class="secondary-content">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>            
              </a>
             </li>

            <li class="collection-item avatar">
              <img src="{% static 'images/sql.png'%}" alt="" class="circle">
              <p style="margin : 10px" class="text-danger lead">Sql</p>
              <a href="#" class="secondary-content">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
              </a>
            </li>

            <li class="collection-item avatar">
              <img src="{% static 'images/mongodb.png'%}" alt="" class="circle">
              <p style="margin : 10px" class="text-danger lead">MongoDb</p>
              <a href="#" class="secondary-content">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </a>
            </li>

            <li class="collection-item avatar">
              <img src="{% static 'images/Ml.jpeg'%}" alt="" class="circle">
              <p style="margin : 10px" class="text-danger lead">Data Science</p>
              <a href="#" class="secondary-content">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </a>
            </li>
        </ul>            
    </div>
     </div>
{%endblock%}