<!DOCTYPE html>
{% load static%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/nav.css'%}">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">Portfolio</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/langauge">Skills</a></li>
                <li><a href="/project">Project</a></li>
                <li><a href="/contact">Contacts</a></li>
              </ul>
            </div>
        </nav>        
    </body>
</html>