{% extends 'testapp/base.html'%}

{% block content%}
{%include 'testapp/nav.html'%}
    <div class="container">
        <div class="col s12 m6">
            <ul class="collapsible">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>CityBeat</div>
                  <div class="collapsible-body">
                    <span>Developed a job portal website using Django, MySQL, and Bootstrap, connecting students with employment opportunities. Implemented a user-friendly interface and database management for seamless job searching and application processes</span>
                    <div>
                      <a href="https://github.com/daiyan52/CityBeat-New-Portal">Github</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
              </ul>
        </div>
    </div>
{% endblock%}

{% block script%}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);
          });        
    </script>
{% endblock%}