{% extends 'testapp/base.html'%}

{% block content%}
{%include 'testapp/nav.html'%}
    <div class="container container-sm" style="margin-top: 50px;">
        <div class="col s12">
            <ul class="collapsible popout">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>CityBeat</div>
                  <div class="collapsible-body">
                    <span>Developed a job portal website using Django, MySQL, and Bootstrap, connecting students with employment opportunities. Implemented a user-friendly interface and database management for seamless job searching and application processes</span>
                     
                    <div class="center-align" style="margin-top: 30px;">
                       <a class="btn-floating btn-large waves-effect waves-light blue" href="https://github.com/daiyan52/CityBeat-New-Portal">
                        <i class="fab fa-github"></i>  
                      </a>
                       
                      <a class="btn-floating btn-large waves-effect waves-light blue"  href="https://github.com/daiyan52/CityBeat-New-Portal">
                        <i class="fab fa-github"></i> 
                      </a>
                    </div>

                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
              </ul>
        </div>
    </div>
{% endblock%}

{% block script%}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);
          });        
    </script>
{% endblock%}
