{% extends 'pages/base.html' %}

{% block style %}
<style>
    nav {
        background-color: #007bff; /* Change the background color to your desired color */
    }

    nav ul.right li a {
        font-size: 30px !important;
    }
    
    nav ul.right li a:hover {
        text-decoration: none;
        opacity: 0;
        background: none !important;
    }
</style>
{% endblock %}

{% block content %}
<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">2025</a>
      <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/java">Java</a></li>
        <li><a href="/python">Python</a></li>
        <li><a href="/aptitude">Aptitude</a></li>
        {% if user.is_authenticated %}
            <li><a href="/accounts/logout">Logout</a></li>
        {% else %}
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a href="/java">Java</a></li>
  <li><a href="/python">Python</a></li>
  <li><a href="/aptitude">Aptitude</a></li>
  {% if user.is_authenticated %}
      <li><a href="{% url 'logout' }">Logout</a></li>
  {% else %}
      <li><a href="{% url 'logout' }">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
  {% endif %}
</ul>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });    
</script>
{% endblock %}
